<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="User" type="com.model.User"/>
		<typeAlias alias="News" type="com.model.News"/>
		<typeAlias alias="Notice" type="com.model.Notice"/>
		<typeAlias alias="CompanyInfo" type="com.model.CompanyInfo"/>
		<typeAlias alias="Way" type="com.model.Way"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/mapper/userMapper.xml" />
		<mapper resource="com/mapper/newsMapper.xml" />
		<mapper resource="com/mapper/noticeMapper.xml" />
		<mapper resource="com/mapper/companyInfoMapper.xml"/>
		<mapper resource="com/mapper/wayMapper.xml"/>
	</mappers>
</configuration>

