<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CompanyInfoMapper">
	<!-- 解决表名与字段不匹配 -->
	<resultMap type="CompanyInfo" id="companyInfoResultMap">
		<id property="wayid" column="wayid" />
		<result property="address" column="address" />
		<result property="zipcode" column="zipcode" />
		<result property="linkman" column="linkman" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
	</resultMap>

<!-- 	<insert id="addCompanyInfo" parameterType="CompanyInfo">
		INSERT INTO
		companyInfo (cpninfo, cpnaboutus, cpnaboutusmd,
		cpnculture,cpnculturemd, cpnhistory, cpnhistorymd) values
		( #{cpninfo},
		#{cpnaboutus}, #{cpnaboutusmd},
		#{cpnculture},#{cpnculturemd},#{cpnhistory}, #{cpnhistorymd})
	</insert>
 -->
	<select id="findCompanyInfo" resultType="CompanyInfo">
		select * from
		companyInfo
	</select>
	<update id="updateCompanyInfo" parameterType="CompanyInfo">
		update companyInfo
		set
		cpninfo=#{cpninfo},cpnaboutus=#{cpnaboutus},cpnaboutusmd=
		#{cpnaboutusmd},cpnculture=
		#{cpnculture},cpnculturemd=#{cpnculturemd},cpnhistory=#{cpnhistory},cpnhistorymd=
		#{cpnhistorymd}
		where
		cpnid=#{cpnid}
	</update>

</mapper>
