<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NewsMapper">
	<!-- 解决表名与字段不匹配 -->
	<resultMap type="News" id="newsResultMap">
		<id property="newsid" column="newsid" />
		<result property="newstext" column="newstext"  jdbcType="BLOB"/>
	</resultMap>
	
	<!-- 添加新闻 -->
	<insert id="addNews" parameterType="News">
		insert into news (newstext)
		values(#{newstext})
	</insert>

	<!-- 查询所有新闻 -->
	<select id="findAllNews" resultType="News">
		select * from news
	</select>

</mapper>
