<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NewsMapper">
	<!-- 解决表名与字段不匹配 -->
	<resultMap type="News" id="newsResultMap">
		<id property="newsid" column="newsid" />
		<result property="newsdate" column="newsdate" />
		<result property="newstitle" column="newstitle" />
		<result property="newsabstract" column="newsabstract" />
		<result property="newstext" column="newstext" />
			<result property="newstextmd" column="newstextmd" />
	</resultMap>
	<update id="updateNews" parameterType="News">
		update news set
		newsdate=#{newsdate},newstitle=#{newstitle},newsabstract=#{newsabstract},newstext=#{newstext},newstextmd=#{newstextmd}    where
		newsid=#{newsid}
	</update>
	<!-- 添加新闻 -->
	<insert id="addNews" parameterType="News">
		insert into news
		(newsdate,newstitle,newsabstract,newstext,newstextmd)
		values(#{newsdate},#{newstitle},#{newsabstract},#{newstext},#{newstextmd})
	</insert>

	<!-- 查询所有新闻 -->
	<select id="findAllNews" resultType="News">
		select * from news
	</select>

	<select id="selectNewsByid" resultType="News" parameterType="java.lang.Long">
		select * from news WHERE newsid=#{newsid}
	</select>
</mapper>
