.page {
    width: 100%;
    margin: 0px;
    height:100%;
}
body{
	margin:0px;
	height:100%;
 	
}
.head{
	height:40px;
	background:#ff8040;
	margin:0px;
	padding:0px;
}
.content {
    height: 600px;
     margin: 0px;
}

.content .navigator {
    width: 20%;
    height: 100%;
    background: lightgrey;
    float: left;
}

.content .info {
    display: table;
    width: 80%;
    height: 100%;
    background-image: url("pik.jpg");
    float: left;
}